body{
    color:antiquewhite;
    background-color:rebeccapurple;
    font-family: "monteserrant", sans-serif;
}
header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color:white;
}
section{
    background-color:mediumpurple;
    padding: bottom 80px;
     padding-top: 80px;
     display: flex;
     justify-content:center;
}
.chamada-texto{
    margin-right: 20px;
}
